* {
	font-family: "Poppins", sans-serif;


}

html,
body {
	overflow-x: hidden;
}

.bg-hero {
	background-color: #1E88E5;
}

.mb20 {
	margin-bottom: 25rem !important;

}

.mb50 {
	margin-bottom: 30rem !important;
}

.mt20 {
	margin-top: 15rem !important;
}


.cursor-pointer {
	cursor: pointer;
}

@media only screen and (max-width: 1024px) {

	.barbtn {
		display: none !important;
	}

	.sidebar {
		display: none !important;
	}

	.menu {
		display: inline !important;
	}

	.navbar .navbar-brand {
		font-size: 14px !important;
	}


}

@media only screen and (max-width: 425px) {

	.navbar .navbar-brand {
		font-size: 14px !important;
	}
}